$gray : #d3d3d3;
$green : #75B975;

.box {
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $green;
    color: white;
  }
}

body {
  background-color: #00ff00;
}

#form {
  margin:auto;
  text-align: center;
}

button {
  margin: auto;
  text-align: center;
}

// h1, p, h3, h4, h2, {
//   text-align: center;
// }
//
// #image {
//   margin: auto;
//   text-align: center;
//   border-radius: 50px;
//    box-shadow: 10px 10px 5px #888888;
// }
//
// #date {
//   text-align: center;
// }
//
// #repo {
//   text-align: center;
// }
//
// span {
//   border: 1px solid blue;
// }
