$gray : #d3d3d3;
$green : #75B975;

.box {
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $green;
    color: white;
  }
}

body {
  background-color: #ffffcc;
}

#form {
  margin:auto;
  text-align: center;
}

button {
  margin: auto;
  text-align: center;
}

h1 {
  text-align: center;
}

#name {
  text-align: left;
}

#intro {
  text-align: center;
}

#image {
  // margin: auto;
  // text-align: center;
  border-radius: 50px;
   box-shadow: 10px 10px 5px #888888;
}
//
// #date {
//   text-align: center;
// }
//
// #repo {
//   text-align: center;
// }
//
// span {
//   border: 1px solid blue;
// }


 // MUST MANUALLY WRITE: .env/exports.apiKey = "80bf4b5409bb6cb199e732b8d1d7cd098615482f";
